@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-mono: "Space Mono", monospace;
}

/* Light Theme (Default) */
[data-theme="light"],
:root {
  --bg-main: #f6f8ff;
  --bg-card: #fefefe;
  --text-primary: #2b3442;
  --text-secondary: #4b6a9b;
  --text-muted: #697c9a;
  --btn-blue: #0079ff;
  --btn-hover: #60abff;
  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.1985);
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-main: #141d2f;
  --bg-card: #1e2a47;
  --text-primary: #ffffff;
  --text-secondary: #ffffff;
  --text-muted: #ffffff;
  --btn-blue: #0079ff;
  --btn-hover: #60abff;
  --shadow: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-mono);
  background-color: var(--bg-main);
  color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
